@import url('https://fonts.googleapis.com/css?family=Akronim|Anton|Indie+Flower|Merriweather|Modak');
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body{
    padding: 0%;
    margin: 0%;
}
/* nav */
nav .navbar-nav .nav-item .nav-link{
    color: whitesmoke;
    font-weight: 600;
    padding: 0px 20px;
}

.navbar{
	background: #27AAA2;
    background: -webkit-linear-gradient(top left, #27AAA2, #010101);
    background: -moz-linear-gradient(top left, #27AAA2, #010101);
    background: linear-gradient(to bottom right, #27AAA2, #010101);
	margin-bottom: 0%;
}



/*footer*/
#footer{
	padding: 100px 0px 15px 0px;
	color: white! important;
    background-image: linear-gradient(to right,   	 #252a54  ,  #262e6a  );
    margin-top: 40px ;
}
#footer .head{
	padding-bottom: 20px;
	font-weight: 600;
	font-family: 'Merriweather';
}
#footer .fas{
	padding-right: 8px;
}
#footer .col-md-4{
	padding: 0px 40px 0px 10px;
}
#footer hr{
	background-color: white!important;
}


/*	Popular Courses*/

#course{
	padding:  50px 0px;
}
#course .title{
    padding: 55px;
    font-weight: 600;
}
.course-content{
	padding: 8px;
	background: whitesmoke ;
}
.course-content .text{
	color: grey;
}
.course{
    margin-bottom: 15px;
}
#course .course:hover{
	 
}
.course img{
    width: 100%;
    padding: 4px;
    background-color: orangered;
}


/*banner*/
#banner{
    background: #27AAA2;
    background: -webkit-linear-gradient(top left, #27AAA2, #010101);
    background: -moz-linear-gradient(top left, #27AAA2, #010101);
    background: linear-gradient(to bottom right, #27AAA2, #010101);
	padding-top: 50px;
	color:#fff;
}
.promo-title{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;

}
.play-button{
	width: 45px;
	margin: 20px;
}
#banner a{
	color: #fff;
	text-decoration: none;
}
.wave{
	width: 100%;
	padding: 0px;
	margin: 0px;
}




/*About*/

#about{
   margin-bottom: 50px;
}

.lead{
    padding-right: 50px;
}
#about img{
    border: 10px solid grey;
}